.banner {
    width: 80%;
    height: 150px;
    margin: 40px auto;
    color: rgb(1, 1, 48);
    text-align: center;
    align-items: center;
}

.container {
    height: 100%;
    align-items: center;
    justify-content: center;
}

#map {
    width: 70%;
    height: 100%;
    align-items: center;
    margin: 0px auto;
}


body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}