.leaflet-container {
    width: 100%;
    height: 100vh;
}


.topBar {
    margin-top: 8px;
    margin-right: 8px;
    width: 380px;
    height: 50px;
    background-color: white;
    z-index: 1100;
    position: fixed;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    justify-content: space-around;
}

.search-input {
    margin-right: 8px;
}


.search-icon {
    color: #b2b2b2;
    margin-left: 10px;
}

.transportationType-container {
    margin: 0 auto;
    align-self: center;
    align-items: center;
    padding-left: 36px;
}

.originInputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.originInput {
    outline: none;
    margin-right: 25px;
    border: none;
    border-bottom: 2px solid lightgray;
    width: 80%;
    height: 40px;
}

.originInput:focus {
    outline-width: 0px;
    /* border-bottom: 2px solid #b5d9ff; */
    border-bottom: 2px solid rgb(155, 155, 155);
}

.originIcon {
    color: #9e9e9e;
    font-size: 18px;
}

.timeIcon {
    color: #9e9e9e;
    font-size: 20px;
}

.tab {
    width: 100%;
    /* height: 50px; */
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.tabButton {
    height: 100%;
    width: 50%;
    border-radius: 0;
}

.tabpanel {
    margin-top: 20px;
}

.selectedPoints {
    margin-top: 30px;
}


.selectedPointHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selectedPointTitle {
    color: #42a5f5;
    font-size: 14px;
}
.selectedPointAdd {
    align-self: flex-end;
}

.contextmenu {
    text-align: center;
}


/* leaflet-contextmenu overriding */
.leaflet-contextmenu {
    border-radius: 8px;
    font-size: 20px;
    align-items: center;
    text-align: center;
}


.leaflet-contextmenu a.leaflet-contextmenu-item {
    line-height: 30px;
}

.leaflet-contextmenu-icon  {
    float: right;
    margin:4px 8px 0 0;
    width: 20px;
    height: 20px;  
}